{
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/react", "next/babel"],
      "plugins": ["inline-react-svg"]
    },
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    }
  }
}
